@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="shopCatalogController">
       
    <div class="pull-right">
        <i class="fa fa-shopping-cart"></i> Shopping Cart&nbsp; <b>({{productsAddedToCart.length}}) </b>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4" ng-repeat="element in products">
            <h2>Name: {{element.Name}}</h2>
            <p>Description: {{element.Description}}</p>
            <p>Price: {{element.Price}}</p>
            <p><a class="btn btn-default" ng-click="addToCart(element)" role="button">Add to cart &raquo;</a></p>
        </div>
    </div>
    <hr>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/indexScripts")
}