@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>

<div ng-controller="cartController">

    <div class="row row-offcanvas row-offcanvas-right">
        {{cleanCart()}}
        <!-- Products grid -->
        <div class="col-xs-12 col-sm-9">

            <div>
                <h4> Well done!! Your cart is now empty</h4>
            </div>
        </div>


        <!-- Shoping cart -->
        <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="pull-right">
                <div class="panel  panel-info">
                    <div class="panel-heading text-center">
                        <i class="fa fa-shopping-cart"></i> <h5>Shopping Cart</h5>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-6">
                            Products: <b>({{getCartNumberOfProducts()}}) </b>
                        </div>
                        <div class="col-xs-6">
                            Sub total: {{getCartSubtotal()}} €
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/cartScripts")
}
